.main_footer {
    background: black;
    padding: 80px 10px 60px 10px;
}

.footer_logo_wrap {
    text-align: center;
    margin-bottom: 50px;
    img {
        width: 70px;
    }
}

.social_media {
    text-align: center;
    margin-bottom: 50px;
    img {
        width: 36px;
        margin: 0 5px 0 5px;
        transition: all .3s ease;
        &:hover,
        &:focus {
            opacity: .7;
        }
    }
}

.copyright {
    text-align: center;
    p {
        font-family: $global_title;
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        @media screen and (min-width: 64rem) {
            font-size: 1.25rem;
        }
    }
}

.backToTop_wrap {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, .5);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 3;
    .backToTop {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 3rem;
        color: white;
        transition: all .3s ease;
    }
    &:hover,
    &:focus {
        .backToTop {
            color: $the_gold;
        }
    }
}

.portfolio-post-banner-wrap {
    height: 60vh;
}

.portfolio-post-banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        font-family: $global_title;
        font-size: 1.125rem;
        color: white;
        @media screen and (min-width: 40rem) {
            font-size: 1.5rem;
        }
        @media screen and (min-width: 64rem) {
            font-size: 2rem;
        }
    }
}

.portfolio-post-intro-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-post-intro-img {
    width: 400px;
    height: 300px;
    background: greenyellow;
}