.main_footer {
  background: black;
  padding: 80px 10px 60px 10px;
}

.footer_logo_wrap {
  text-align: center;
  margin-bottom: 50px;
  img {
    width: 70px;
  }
}

.social_media {
  text-align: center;
  margin-bottom: 50px;
  img {
    width: 36px;
    margin: 0 5px 0 5px;
  }
}

.copyright {
  text-align: center;
  p {
    font-family: $global_title;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    @media screen and (min-width: 64rem) {
      font-size: 1.25rem;
    }
  }
}

.backToTop_wrap {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, .5);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 3;
  .backToTop {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 3rem;
    color: white;
  }
}