.main_footer {
  background: black;
  padding: 80px 10px 60px 10px;
}

.footer_logo_wrap {
  text-align: center;
  margin-bottom: 50px;
  img {
    width: 70px;
  }
}

.social_media {
  text-align: center;
  margin-bottom: 50px;
  img {
    width: 36px;
    margin: 0 5px 0 5px;
  }
}

.copyright {
  text-align: center;
  p {
    font-family: $global_title;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    @media screen and (min-width: 64rem) {
      font-size: 1.25rem;
    }
  }
}