.header_bar_container {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    transition: all .5s ease;
    &.shrink {
        background-color: white;
        height: 60px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .title_wrap {
            border-bottom: solid 1px #cccccc;
            p {
                color: black;
            }
        }
        .logo_wrap {
            border-left: solid 1px #cccccc;
            border-right: solid 1px #cccccc;
            border-bottom: solid 1px #cccccc;
            img {
                width: 50px;
            }
        }
        .burger_button_wrap {
            border-bottom: solid 1px #cccccc;
            .burger_button div {
                background-color: black;
            }
            .active div {
                background-color: $the_gold;
            }
        }
    }
}

.title_wrap {
    position: relative;
    border-bottom: solid 1px #333333;
    p {
        font-family: $global_title;
        font-size: 0.875rem;
        font-weight: 100;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.logo_wrap {
    position: relative;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
    border-bottom: solid 1px #333333;
    img {
        position: absolute;
        width: 60px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.burger_button_wrap {
    position: relative;
    border-bottom: solid 1px #333333;
    .burger_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 20;
        cursor: pointer;
        div {
            width: 24px;
            height: 1px;
            background-color: white;
            transition: all 0.5s ease;
        }
        .top {
            margin-bottom: 7.5px;
        }
        .mid {
            margin-bottom: 7.5px;
        }
    }
    .active {
        .top {
            transform: rotate(45deg);
            transform-origin: left 50%;
            background-color: $the_gold;
        }

        .mid {
            opacity: 0;
            background-color: $the_gold;
        }

        .bot {
            transform: rotate(-45deg);
            transform-origin: left 50%;
            background-color: $the_gold;
        }
    }
}

.nav_overlay {
    position: fixed;
    z-index: 10;
    top: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: all .5s ease;
    nav {
        position: relative;
        text-align: center;
        top: 10%;
        ul {
            margin-left: 0;
            li {
                list-style-type: none;
                a {
                    font-family: $global_title;
                    font-size: 1.875rem;
                    font-weight: 100;
                    color: white;
                    transition: all .5s ease;
                    position: relative;
                    text-decoration: none;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: $the_gold;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                    }
                    &:hover {
                        color: $the_gold;
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                    &:focus {
                        color: $the_gold;
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
    &.show_menu {
        top: 0;
    }
}

.header_image_container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/DSC_2514-Edit-Edit.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    h2 {
        font-family: $global_title;
        font-size: 1.875rem;
        font-weight: 100;
        color: white;
        position: absolute;
        margin-bottom: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.scroll-to {
    text-align: center;
    position: relative;
    p {
        font-family: $global_title;
        font-size: 0.875rem;
        font-weight: 100;
        color: white;
        position: absolute;
        bottom: 100px;
        margin-bottom: 0;
        left: 50%;
        transform: rotate(-90deg) translateY(-85%);
    }
    div {
        width: 1px;
        height: 80px;
        background-color: white;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}

.about_container {
    height: 800px;
}