.portfolio_container {
  text-align: center;
  .portfolio_description {
    padding: 0 10px 0 10px;
    h2 {
      font-family: $global_title;
      font-size: 1.125rem;
      color: black;
      text-transform: uppercase;
      margin-bottom: 30px;
      @media screen and (min-width: 40rem) {
        font-size: 1.5rem;
      }
    }
    p {
      font-family: $global_content;
      font-size: 1rem;
      color: black;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .portfolio_wrap {
    height: 200px;
    background-color: $section_bg;
    border: 1px solid #ccc;
  }
}